.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* html { margin-left: calc(100vw - 100%); }  */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-image: url("assets/questLog.jpg");
  background-size: 100% 100%;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  overflow: hidden;
}
.scrollbarTrack {
  width: 20px;
  height: 100%;
}
.newQuestButtonDiv {
  width:100%; 
  height:5vh;
  display:flex;
  flex-direction:column; 
  opacity:0;
  align-items:flex-start; 
  padding-left:40px; 
  /* padding-top:10px; */
  transition: opacity 0.25s;
}
.newQuestButton {
  display: flex; 
  align-items:center;
}
.newQuestButtonDiv:hover{
  opacity: 1;
}

.closeButton {
  width:15px; 
  height:15px;
  display:flex;
  flex-direction:column; 
  opacity:0;
  align-items:flex-start; 
  padding-left:10px; 
  transition: opacity 0.25s;
}
.closeButton:hover{
  opacity: 1;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
